// Conteneur principal du header (positionné en haut sur mobile, à gauche sur desktop)
.responsive-header {
  display: flex;
  flex-direction: column; // mobile : éléments empilés
  align-items: center;    // centrer horizontalement
  background-color: #0a1a2f; // bleu nuit
  color: white;
  padding: 2rem;
  gap: 1rem;
  height: auto;
  width: 100%;
  overflow-y: auto; // si jamais ça déborde sur petits écrans
  
  .profile-pic {
    width: 180px;
    border-radius: 50%;
    border: 3px solid white;
  }

  .infos {
    margin-top: 0rem;
    margin-bottom: 5rem;
   
    h1 {
      margin: 1.5rem 0 0.5rem 0;
      font-size: 1.8rem;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 4rem;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin: 1rem 0;
      font-size: 1.4rem;
    }
  }

  .header-photo {
    margin-left: 2rem;
  }

  @media (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px; // Légèrement réduit pour mieux s'adapter
    height: 100vh;
    overflow-y: auto; // active le scroll vertical si besoin
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;


    .header-top {
      margin-left: 0;
      margin-bottom: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .header-identity{
      margin-bottom: 0rem;
    }
  }
}
