.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    max-width: 963px;
    margin: 0 auto;
  }

 
  
  